---
title: 404
---



<div class="container-s">
  <h1>Damn, Bill Murray! You drank all the coffee again!</h1>
  <img src="assets/images/404.gif"> <alt="Bill Murray drinking coffee">
  <p class="font_size-m">
    This was probably not what you wanted to know. Bill is usually up to no good. Something must have gone terribly wrong for him to show up. Sorry.
  </p>
  <p>We think it might be safer for you to <a href="index.html">go back home</a> or <a href="lingo.html">learn some coffee lingo</a>.</p>
</div>
