---
title: Kaffeekommune Impressum
---



<div class="container-s">
  <h1>Impressum</h1>
  <h2>KAFFEEKOMMUNE</h2>
  <p>Paul Bonna<br />
  Breidenbacherstr. 9<br />
  55116 Mainz<br />
  Telefon 06131 - 6930749<br />
  E-Mail: info@kaffeekommune.de</p>

  <p>StNr.: 26/018/64419<br />
  USt-IdNr.: DE273528055</p>

  <h2>Copyright</h2>
  <p>Der Internetauftritt www.kaffeekommune.de mit seinem gesamten Layout, Farben, Bilder und Texten
  unterliegt dem Copyright der Kaffeekommune. Jegliche Vervielfältigung
  oder Nutzung, auch auszugsweise, bedarf der schriftlichen Genehmigung von Paul Bonna.
  Zuwiderhandlungen werden strafrechtlich verfolgt.</p>
</div>
