---
title: Kaffeekommune
---



<div class="container-s">
  <img src="assets/images/aeropress.jpeg" alt="Kaffeekommune Aeropress" />

  <p class="font_size-m">
    Wir sind die Kaffeekommune, Baristas und Kaffee-Werkstatt in Mainz. Immer auf der Suche nach der besten Tasse Kaffee: in unserem Laden, zuhause und der ganzen Welt.
  </p>
  <p>
    Du kannst einfach einen köstlichen Kaffee genießen, oder näher kommen und entdecken was dahinter steckt. Wir kennen unseren Röster und die Jungs, die unsere Espressomaschine gebaut haben. Wir ehren die Tradition unseres Handwerks. Deshalb teilen wir unser Wissen mit dir und wollen die Zukunft exzellenten Kaffees mitgestalten.
  </p>
</div>

<hr>

<div class="container grid">
  <div>
    <h3>Kaffee trinken</h3>
    <h2>Kaffeekommune</h2>
    <p>Wir haben heute bis 18:00 geöffnet.</p>
    <p><a target="_blank"  href="https://www.google.de/maps/place/Kaffeekommune/@49.9964027,8.2654495,518m/data=!3m1!1e3!4m5!3m4!1s0x47bd971ef09bdafd:0xdac8c82cc2919110!8m2!3d49.9963993!4d8.2676382?hl=en">Breidenbacherstraße 9</a><br />
      55116 Mainz<br />
      +49 6131–693 0749<br />
    <p>
      Wir servieren Espresso-basierte Spezialitäten, Aeropress- und Filterkaffees ausgewählter Bohnen, umschmeichelt von Scones, Banana Bread und anderen Leckereien.    </p>
    <p><a href="menu.html">Unsere Karte</a></p>
  </div>

  <div>
    <h3>Kaffee machen</h3>
    <h2>Workshop</h2>
    <p>
      Unser Workshop ist im <a target="_blank"  href="https://www.google.de/maps/place/Weihergarten+6,+55116+Mainz/@49.9968561,8.2711756,129m/data=!3m2!1e3!4b1!4m5!3m4!1s0x47bd971be20295e5:0x8b2867c6603cbd1d!8m2!3d49.9968552!4d8.2717228?hl=en">Weihergarten 6</a>, in Mainz. Hier kannst du Maschinen und Equipment feinster Qualität ausprobieren, eines unserer Cuppings genießen und Barista-Skills lernen, die du auch zuhause anwenden kannst.
    </p>

    <p><a href="workshop.html">Zum Workshop</a></p>

    <p><a href="https://www.eventbrite.de/e/cuppings-coffee-tastings-tickets-20755231456">Cupping buchen</a></p>

    <p><a href="https://www.eventbrite.de/e/homebarista-basiskurs-tickets-27935813771?aff=erelpanelorg">Homebarista Training buchen</a></p>
  </div>

  <div>
    <h3>Kaffee servieren</h3>
    <h2>Gastronomie-Service</h2>
    <p>
      Du startest gerade durch und brauchst ein wenig Hilfe, deinen Barista Arbeitsplatz zu gestalten? Du willst deine Mitarbeiter ausbilden oder brauchst technische Beratung? Oder ein neues Produkt (wie fantastischen Filterkaffee) in deinem Laden anbieten? Sag uns was du hast und wir sagen dir was möglich ist.
    </p>
    <p><a href="professionals.html">Zum Gastronomie-Service</a></p>
    <p><a href="mailto:info@kaffeekommune.de">Schreib uns</a></p>
  </div>
</div>

<hr>

<div class="container grid">
  <div class="cols-2">
    <img src="assets/images/tony.jpeg" alt="Barista Tony Johnson" />
  </div>
  <div>
    <blockquote>
      <p>
      “This coffee falls into your stomach, and straightway there is a general commotion. Ideas begin to move, things remembered arrive at full gallop, ensuing to the wind.”
      </p>
    </blockquote>
    <cite>—Tony Johnson, Barista</cite>
  </div>
</div>
