---
title: Kaffeekommune
---



<div class="container-s">
  <img src="assets/images/aeropress.jpeg" alt="Kaffeekommune Aeropress" />

  <p class="font_size-m">
    Kaffeekommune is a coffeeshop and workspace in Mainz, Germany. We’re always looking for the best cup of coffee — in our shop, at home, and anywhere else.
  </p>
  <p>
    You can have just a delicious cup of coffee. Or come closer and discover what’s behind. We know our roaster and the guys who built our espresso machine. We honour the tradition of our trade. That’s why we share our skills with you and are keen to shape the future of coffee.
  </p>
</div>

<hr>

<div class="container grid">
  <div>
    <h3>Drinking Coffee</h3>
    <h2>Kaffeekommune</h2>
    <p>We’re open until 18:00 today.</p>
    <p><a href="https://www.google.de/maps/place/Kaffeekommune/@49.9964027,8.2654495,518m/data=!3m1!1e3!4m5!3m4!1s0x47bd971ef09bdafd:0xdac8c82cc2919110!8m2!3d49.9963993!4d8.2676382?hl=en">Breidenbacherstraße 9</a><br />
      55116 Mainz<br />
      +49 6131–693 0749<br />
    <p>
      We serve espresso-based specialities, aeropress and filter brews of selected beans, complimented with scones, banana bread and other nom-noms.
    </p>
    <p><a href="menu.html">See our full menu</a></p>
  </div>

  <div>
    <h3>Making Coffee</h3>
    <h2>Workshop</h2>
    <p>
      Our workshop is on <a href="https://www.google.de/maps/place/Weihergarten+6,+55116+Mainz/@49.9968561,8.2711756,129m/data=!3m2!1e3!4b1!4m5!3m4!1s0x47bd971be20295e5:0x8b2867c6603cbd1d!8m2!3d49.9968552!4d8.2717228?hl=en">Weihergarten 6</a>, in Mainz. It’s where you can try out top-shelf quality machines and other equipment, enjoy a guided cupping session and learn homebarista-skills you can actually use.
    </p>

    <p><a href="workshop.html">To the workshop</a></p>

    <p><a href="https://www.eventbrite.de/e/cuppings-coffee-tastings-tickets-20755231456">Book your cupping</a></p>

    <p><a href="https://www.eventbrite.de/e/homebarista-basiskurs-tickets-27935813771?aff=erelpanelorg">Book your homebarista training</a></p>
  </div>

  <div>
    <h3>Serving Coffee</h3>
    <h2>Professionals</h2>
    <p>
       Whether you’re starting out and need help designing your barista workspace, you’d like to train your team, want some technology input, or place a new product (like awesome filter coffee) in your shop — tell us what you have, and we’ll tell you what’s possible.
    </p>
    <p><a href="professionals.html">Service for professionals</a></p>
    <p><a href="mailto:info@kaffeekommune.de">Talk to us</a></p>
  </div>
</div>


<hr>


<div class="container grid">
  <div class="cols-3">
    <img src="assets/images/tony.jpeg" alt="Barista Tony Johnson" />
  </div>
  <div>
    <blockquote>
      <p>
      “This coffee falls into your stomach, and straightway there is a general commotion. Ideas begin to move, things remembered arrive at full gallop, ensuing to the wind.”
      </p>
    </blockquote>
    <cite>—Tony Johnson, Barista</cite>
  </div>
</div>
