---
title: Kaffeekommune Coffee Lexicon
layout: layout-dictionary
---

<div class="container-s">
  <h4><a href="article-aeropress">Aeropress</a></h4>
  <p>
    Baristas and <a href="article-coffee.html">→coffee</a> drinkers have also developed methods of brewing using an inverted (upside-down) AeroPress. In inverted <a href="#">→brewing</a>, the plunger is placed into the column from the beginning, close to the “top” of the column, and the entire AeroPress stands upside-down, resting on the top of the plunger. One or two scoops of ground coffee are added, followed by <a href="article-water.html">→water</a>, and the entire mixture then stirred. While that brews, a filter is placed into the filter cap and moistened to help it stick in place then the AeroPress cap is placed on top of the column and screwed into place. Lastly, once the desired brewing time is complete the AeroPress is either turned right-side-up and plunged normally or held at an angle and plunged horizontally.
  </p>
  <img src="assets/images/aeropress.jpeg" alt="Kaffeekommune Aeropress" />
</div>
