---
title: Kaffeekommune Menu
---


<div class="container-s">
  <h1>Menu</h1>

  <div class="grid">
    <div>
      <p class="font_size-l">
        We serve espresso-based specialities, aeropress and filter brews of selected beans, complimented with scones, banana bread and other nom-noms.
      </p>
    </div>
    <div>
       <ul class="nav menu">
         <li><a href="menu.html#filterbrew">Brühkaffee</a></li>
         <li><a href="menu.html#espresso">Espresso</a></li>
         <li><a href="menu.html#tea">Tee</a></li>
         <li><a href="menu.html#juice">Säfte</a></li>
         <li><a href="menu.html#alcohol">Alkoholische Getränke</a></li>
         <li><a href="menu.html#food">Food</a></li>
       </ul>
    </div>
  </div>

</div>

<hr>

<div class="container-s">
   <h2 id="filterbrew">Brühkaffee</h2>
   <p>Alle unsere Brühkaffees werden mit der Aeropress indiviuell und frisch aufgebrüht. Wir empfehlen den Kaffee über verschiedene Temperaturen und pur zu probieren. Er wird nicht bitter wenn er kühl wird, Sie können nur mehr schmecken. Die Beschreibung der natürlichen Aromen hilft bei der Auswahl. Viel Spaß.</p>

   <h4>Kolumbien — Vera Cruz I</h4>
   <p class="indent_s"><em>washed</em><br />
     Traube, Honig, Zitronengras<br />
   <strong>4,10 Euro</strong></p>

   <h4>Kolumbien — San Pascual</h4>
   <p class="indent_s"><em>natural</em><br />
     Schwarzkirsche, Pflaume, Jasmin<br />
   <strong>4,10 Euro</strong></p>

   <h4>Kenia — Nyeri — Ngurunguru</h4>
   <p class="indent_s"><em>washed</em><br />
     Johannisbeer, Rhabarber, Tomate<br />
   <strong>4,10 Euro</strong></p>

   <h4>Kolumbien — El Molino</h4>
   <p class="indent_s"><em>washed</em><br />
     Hagebutte, Stachelbeere, saftig<br />
   <strong>4,10 Euro</strong></p>
</div>

<hr>

<div class="container-s">
   <h2 id="espresso">Espresso</h2>
   <p>Sie trinken das erste mal einen Espresso bei uns? Dann wird Sie die Aromenvielfalt überraschen. Auch Espresso ist nicht einfach nur heiß und bitter. Es ist ein fruchtiges, intensives Geschmackserlebnis. Wir empfehlen: Lassen Sie sich nicht vom ersten Schluck schockieren; der Zweite ist schon besser und der Letzte ist immer der Schönste! Mit Milch wird ein leckeres Dessert daraus. Prost. </p>

   <p>Aktuell in der Mühle:</p>
   <h4>Äthiopien — Sidama — ‘Guji’ I</h4>
   <p><em>washed</em><br />
     Jasmin, Bergamotte, Zitronengras</p>

   <p><strong>Espresso einfach — 2,70 Euro</strong></p>
   <p><strong>Espresso doppelt — 3,20 Euro</strong></p>
   <p><strong>Espresso einfach mit Milch — 3,20 Euro</strong></p>
   <p><strong>Espresso doppelt mit Milch — 4,00 Euro</strong></p>
</div>

<hr>

<div class="container-s">
   <h2 id="tea">Tee</h2>
   <p>Tee ist Tee. Und eben eine Kategorie für sich. Wir haben ein kleines ausgewähltes Angebot an unterschiedlichen Blatttees. Diese können auch mehrfach aufgegossen werden. Ein altes chinesisches Sprichwort besagt: „Der erste Aufguss ist für den Feind, der zweite für den Freund und erst der dritte für einen selbst.“ So sind diese im Preis inbegriffen.</p>

   <h4>Grüntee</h4>
   <p class="indent_s">China, Zhejiang<br />
     <em>Feng Hua Qu Hao</em><br />
   <strong>4,00 Euro</strong></p>

   <h4>Schwarztee</h4>
   <p class="indent_s">China, Yunnan<br />
     Golden Black <em>Chit-Tu</em><br />
   <strong>4,00 Euro</strong></p>

   <h4>Weißtee</h4>
   <p class="indent_s">China, Yunnan<br />
     <em>Weißes Mondlicht</em><br />
   <strong>4,00 Euro</strong></p>

   <h4>Kaffeekirschen Tee</h4>
   <p class="indent_s">
   <strong>3,00 Euro</strong></p>

   <h4>Wilde Gelbe Chrysanthemen</h4>
   <p class="indent_s">
   <strong>3,50 Euro</strong></p>

   <h4>Blend</h4>
   <p class="indent_s">Apfelminze, Brombeerblätter, Ringelblumen und mehr<br />
   <strong>3,00 Euro</strong></p>
</div>

<hr>

<div class="container-s">
   <h2 id="juice">Säfte</h2>
   <p>Alle unsere Säfte bekommen wir von der Bannmühle in Odernheim am Glan. Das Obst dazu stammt aus eigenem biologischen Anbau und spiegelt das Klima und die Natur wider, in der diese gedeihen konnten. So schmecken sie immer ein wenig anders und wechseln je nach Jahreszeit. Deswegen beste Saft wo gibt!</p>

   <h4>Apfel pur</h4>
   <p class="indent_s">0,2 l — <strong>3,00 Euro</strong></p>
   <p class="indent_s">0,3 l — <strong>4,00 Euro</strong></p>

   <h4>Quitte</h4>
   <p class="indent_s">0,2 l — <strong>3,00 Euro</strong></p>
   <p class="indent_s">0,3 l — <strong>4,00 Euro</strong></p>

   <h4>Holunderblüte</h4>
   <p class="indent_s">0,2 l — <strong>3,00 Euro</strong></p>
   <p class="indent_s">0,3 l — <strong>4,00 Euro</strong></p>

   <h4>Traube weiß</h4>
   <p class="indent_s">0,2 l — <strong>3,00 Euro</strong></p>
   <p class="indent_s">0,3 l — <strong>4,00 Euro</strong></p>

   <h4>Schorle</h4>
   <p class="indent_s">0,2 l — <strong>2,70 Euro</strong></p>
   <p class="indent_s">0,3 l — <strong>3,70 Euro</strong></p>
</div>

<hr>

<div class="container-s">
  <h2 id="alcohol">Alkoholische Getränke</h2>
  <p>Ein kleines aber feines Angebot an regionalen Alkoholika darf auch nicht fehlen. Der Cider stammt von der Bannmühle (am Glan), die Weine vom Weingut Saalwächter aus Ingelheim und die Spirituosen vom Brenner Dengel ebenfalls aus Ingelheim. Einzig das Bier kommt aus dem Schwabenland — Kindheitserinnerungen sozusagen.</p>

  <h4>Cider</h4>
  <p class="indent_s">0,2 l — <strong>3,10 Euro</strong><br />
  <p class="indent_s">0,3 l — <strong>4,00 Euro</strong></p>

  <h4>Wein</h4>
  <p class="indent_s">0,1 l — <strong>3,10 Euro</strong><br />
  <p class="indent_s">0,2 l — <strong>4,90 Euro</strong></p>

  <h4>Bier</h4>
  <p class="indent_s">0,33 l — <strong>3,10 Euro</strong></p>

  <h4>Obstbrand</h4>
  <p class="indent_s">2 cl — <strong>3,10 Euro</strong></p>
</div>

<hr>

<div class="container-s">
   <h2 id="food">Food</h2>
   <p>Unser Essen ist hausgemacht und die Zutaten die wir benutzen sind immer so regional wie möglich. Unsere Milchprodukte und Suppen kommen frisch vom Biobauernhof Domäne Mechthildshausen in Erbenheim. Das leckere Sauerteigbrot macht die Bäckerei Mayer aus Mainz.</p>

   <h4>Frühstück süß — 4,50 Euro</h4>
   <p class="indent_s">Sauerteigbrot, Butter, Marmelade im Glas, Frischkäse mit Honig</p>

   <h4>Frühstück herzhaft — 5,50 Euro</h4>
   <p class="indent_s">Sauerteigbrot, Butter, Frischkäse mit Kresse, Rohschinken</p>

   <h4>Sowohl als auch — 5,90 Euro</h4>
   <p class="indent_s">Sauerteigbrot, Scone, Butter, Marmelade im Glas, würziger Hartkäse</p>

   <h4>Porridge — 4,50 Euro</h4>
   <p class="indent_s">warmes Frischkornmüsli mit frischen Früchten, Körnern, Honig</p>

   <h4>Knuspermüsli — 3,90 Euro</h4>
   <p class="indent_s">Bio Knuspermüsli mit Bio Naturjoghurt und frischen Früchten</p>

   <h4>Avocado Time — 3,50 Euro</h4>
   <p class="indent_s">halbe Avocado mit Sauerteigbrot, Salz, frischem Pfeffer, Zitrone</p>

   <h4>Süppchen — 4,50 Euro</h4>
   <p class="indent_s">Bio-Suppe, wechselnde Sorten, dazu Sauerteigbrot</p>

   <h4>Scones — 3,00 Euro</h4>
   <p class="indent_s">frisch gebackenes Teilchen mit Marmelade und Butter im Glas</p>

   <h4>Shortbread — 2,00 Euro</h4>
   <p class="indent_s">englischer Butterkeks mit einem Hauch Meersalz</p>

   <h4>Kuchen des Tages — 2,70 Euro</h4>
   <p class="indent_s">wechselndes Angebot</p>

   <h4>Banana Bread — 3,50 Euro</h4>
   <p class="indent_s">warm serviert mit Butter</p>
</div>
