---
title: Kaffeekommune Professional Service
---



<div class="container-s">
  <h1>Professional Service</h1>
  <p class="font_size-m">
    We teach you how to serve a perfect cup of coffee that suits the character of your coffeeshop. Tell us what you have and we’ll show you what’s possible.
  </p>
  <p>
    We’ll help you <a href="professionals.html#workspace">develop your workspace</a>, <a href="professionals.html#training">train your baristas</a>, give <a href="professionals.html#technology">advice on technology</a>, and <a href="professionals.html#new-product">introduce new products</a>. In short: we’ll help you serve excellent coffee.
  </p>
</div>

<hr>


<div class="container grid" id="workspace">
  <div class="cols-3">
    <img src="assets/images/tresenplan.jpg" alt="Tresenplan" />
  </div>
  <div>
    <h2>Kickstart &amp; Workspace Design</h2>
    <p>
      Together, we’ll build up your coffee shop, from planning your bar to product training. We’ll give you advice about all you need to serve great coffee efficiently.
    </p>
  </div>
</div>


<div class="container grid">
  <div>
    <h2 id="training">Team Training</h2>
    <p>
      Together, we’ll build up your coffee shop, from planning your bar to product training. We’ll give you advice about all you need to serve great coffee efficiently.
    </p>
  </div>
  <div class="cols-3">
    <img src="assets/images/brewbar.jpeg" alt="Kaffeekommune Brewbar" />
  </div>
</div>

<div class="container grid" id="technology">
  <div class="cols-3">
    <img src="assets/images/shop.jpg" alt="Kaffeekommune Brewbar" />
  </div>
  <div>
    <h2>Technology &amp; Equipment</h2>
    <p>
      Together, we’ll build up your coffee shop, from planning your bar to product training. We’ll give you advice about all you need to serve great coffee efficiently.
    </p>
  </div>
</div>

<div class="container grid">
  <div>
    <h2 id"new-product">Fresh Blood Cells</h2>
    <p>
      Together, we’ll build up your coffee shop, from planning your bar to product training. We’ll give you advice about all you need to serve great coffee efficiently.
    </p>
  </div>
  <div class="cols-3">
    <img src="assets/images/kalita.jpg" alt="Kaffeekommune Brewbar" />
  </div>
</div>
