---
title: Kaffeekommune Gastronomie-Service
---



<div class="container-s">
  <h1>Gastronomie-Service</h1>
  <p class="font_size-m">
    Wir helfen dir, perfekten Kaffee zu servieren, der genau zum Charakter deines Ladens passt. Zeig uns was du hast und wir zeigen dir was möglich ist.
  </p>
  <p>
    Von der Erstellung eines Tresenplans über die Ausbildung deiner Mitarbeiter, Beratung zur adäquaten Technik bis zur Einführung neuer Produkte: Wir helfen dir, exzellenten Kaffee zu servieren.
  </p>
  <ul class="nav nav-horizontal">
    <li><a href="professionals.html#workspace">Starthilfe</a></li>
    <li><a href="professionals.html#training">Training</a></li>
    <li><a href="professionals.html#technology">Technik</a></li>
    <li><a href="professionals.html#new-product">Frischzellenkur</a></li>
  </ul>
</div>

<hr>


<div class="container grid" id="workspace">
  <div class="cols-2">
    <img src="assets/images/tresenplan.jpg" alt="Tresenplan" />
  </div>
  <div>
    <h2>Starthilfe &amp; Workspace Design</h2>
    <p>
      Zusammen bauen wir Dein Kaffee auf, von der Planung des Tresens bis zum Produkttraining. Wir beraten Dich bei allem was Du brauchst, damit Du exzellenten Kaffee effizient servieren kannst.
    </p>
    <p><a href="mailto:info@kaffeekommune.de">Schreib uns</a></p>
  </div>
</div>


<div class="container grid" id="training">
  <div class="cols-2">
    <img src="assets/images/brewbar.jpeg" alt="Kaffeekommune Brewbar" />
  </div>
  <div>
    <h2>Team Training</h2>
    <p>
      Baristas haben eine lange Tradition als Experten für Kaffee. Je versierter Dein Team ist, desto besser wird Dein Laden laufen. Wir schulen Deine Mitarbeiter mit Brewclasses, im Teambuilding für reibungslose Prozesse und in Espressotechnik.
    </p>
    <p><a href="mailto:info@kaffeekommune.de">Schreib uns</a></p>
  </div>
</div>

<div class="container grid" id="technology">
  <div class="cols-2">
    <img src="assets/images/shop.jpg" alt="Kaffeekommune Brewbar" />
  </div>
  <div>
    <h2>Technik &amp; Equipment</h2>
    <p>
      Je nach Deiner Ausrichtung und Deinen Möglichkeiten beraten wir Dich zum Herzstück Deines Cafés: Deinem Equipment. Maschinen, Mühlen, Filter, Waagen, alles was Du brauchst.
    </p>
    <p><a href="mailto:info@kaffeekommune.de">Schreib uns</a></p>
  </div>
</div>

<div class="container grid" id="new-product">
  <div class="cols-2">
    <img src="assets/images/kalita.jpg" alt="Kaffeekommune Brewbar" />
  </div>
  <div>
    <h2>Fresh Blood Cells</h2>
    <p>
      Wenn Du das Gefühl hast, nicht mehr mit der Zeit zu gehen, helfen wir Dir, Deinen Laden aufzumöbeln oder ein neues Produkt einzuführen, z.B. Filterkaffee so zuzubereiten und anzubieten, dass die Leute Dir die Bude einrennen.
    </p>
    <p><a href="mailto:info@kaffeekommune.de">Schreib uns</a></p>
  </div>
</div>
