---
title: Kaffeekommune Workshop
---



<div class="container-s">
  <h1>Workshop</h1>
  <p class="font_size-m">
    The coffee equipment we use is the best you can find. We know from years of experience. Our workshop is a playground for testing this equipment — machines, grinders, paraphernalia —, where you can get advice or exchange thoughts about coffee. It’s also where our trainings and cuppings take place.
  </p>
  <p><a href="https://www.google.de/maps/place/Weihergarten+6,+55116+Mainz/@49.9968561,8.2711756,129m/data=!3m2!1e3!4b1!4m5!3m4!1s0x47bd971be20295e5:0x8b2867c6603cbd1d!8m2!3d49.9968552!4d8.2717228?hl=en">Weihergarten 6</a>, 55116 Mainz</p>
  <p>Open on request: +49 6131–693 0749 or <a href="mailto:info@kaffeekommune.de">info@kaffeekommune.de</a></p>
</div>

<div class="container-l">
  <div class="container grid">
    <div>
      <h2>Homebarista Training</h2>
      <p>
        In small groups of 4 we’ll hone your coffee-making skills — in our workshop, with different machines. You’ll gain new insights and background knowledge to help you quickly mature your techniques, always with regards to your setup at home.
      </p>

      <p>
        <a href="https://www.eventbrite.de/e/homebarista-basiskurs-tickets-27935813771?aff=erelpanelorg">Book your homebarista class</a>
      </p>
    </div>

    <div>
      <h2>Cuppings</h2>
      <p>Coffee is about what you like. We’ll introduce you to the universe of specialty coffee by tasting different beans and brews together to discover their secret flavours. The cuppings take place in our workshop, in a small group and cozy setting.</p>

      <p><a href="https://www.eventbrite.de/e/cuppings-coffee-tastings-tickets-20755231456">Book a Cupping</a></p>
    </div>
  </div>
</div>

<hr>

<div class="container-s">
  <h2>Partners</h2>
</div>

<div class="container-l">
  <div class="container-grid">
    <div>
      <img src="assets/images/logo-lamarzocco.png">
    </div>

    <div>
      <img src="assets/images/logo-kalita.png">
    </div>

    <div>
      <img src="assets/images/logo-anfim.jpg">
  </div>
</div>

<hr>

<div class="container-l">
  <div class="container grid">
    <div class="cols-3">
      <img src="assets/images/shop.jpg" alt="Kaffeekommune" />
    </div>
    <div>
      <blockquote>
        <p>
        “This coffee falls into your stomach, and straightway there is a general commotion. Ideas begin to move, things remembered arrive at full gallop, ensuing to the wind.”</p>
      </blockquote>
      <cite>—Tony Johnson, Barista</cite>
    </div>
  </div>
</div>
